 body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} 

.home-page-title {
  font: 50px;
  text-align: center;

}

.duel {
  text-align: center;
}