
a {
  color: white;
}

a:hover {
  color: #f03523;
  text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #604569;
}
h1{
    text-align: center;
}

img.animated-gif {
  width: 405px;
}

.edituser, .newedit {
  text-align: center;
  padding-bottom: 10px;
}

.duel {
  text-align: center;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 100px;
  width: 100%;
  color: white;
  text-align: center;
}

.home-page-title {
  text-align: center;
}

.playerfonts {
  font-size: 30px;
  text-align: center;
}

.the {
  display: flex;
  align-content: space-between;
}

.vs {
  padding-top: 46px;
  padding-left: 60px;
  width: 300px;
}

.wrapper {
  display: block;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 112px;
}
