<div class="home-page-title">
	<h1>GIF DUELS</h1>
</div>

<div class="duel">
	<span>
		<div>{{playerOne}}</div>
		<div><img src="{{gifOne}}"></div>
	</span>
	<span>
		<div>{{playerTwo}}</div>
		<div><img src="{{gifTwo}}"></div>
	</span>
</div>


