<div class="home-page-title">
</div>

<div class="welcomelogo text-center">

	<img src="/images/GIFduelsLOGO.png">

</div>


<div class="home-page-title"><a href="/{{battleId}}"><img class="redpill" src="https://media.giphy.com/media/26BRzQS5HXcEWM7du/giphy.gif" alt=""></a></div>


<footer>
<div class="wrapper text-center">
	<h5>Created By:</h5>
	<p>Jace Garcia, David Kim, Will Lai, & Dan Remel</p>

	© 2017 Spicy Bois
</div>

</footer>

<div class="newedit">
    <h1>New User</h1>
