<div class="text-center">
	<img src="/images/GIFduelsLOGO.png">
</div>

<div class="duel mainGif">
	<img class='text-center' src="https://media.giphy.com/media/26BRzQS5HXcEWM7du/giphy.gif">
</div>
<br>
<br>
<div class="container text-center">
	<a class="btn btn-default btnColor" role="button" href="/{{battleId}}">ENTER</a>
</div>