<h1>USERS RANKINGS</h1>
<div>
<ol>{{#each users}}
	<li><br/><a href="/{{../battleId}}/users/{{this._id}}">{{this.userName}}</a></li>
    <span class="space">wins:{{this.wins}}</span>
	{{/each}}
</ol>

</div>
