<form action="/users/{{userId}}/gifs/{{gifId}}?_method=PUT" method="POST">
    <input type="text" value="{{title}}" name="title">
    <input type="text" value="{{imgUrl}}" name="imgUrl">
    <input type="submit" value="Update Item">
</form>