<h1>New Gif</h1>

<form action="/users/{{userId}}/gifs" method="POST">
    <input type="text" name="title" placeholder="GIF Title">
    <input type="text" name="imgUrl" placeholder="GIF URL">
    {{!-- <input type="text" name="Votes" ="Username"> --}}
   
    <input type="submit" value="Create">
</form>