<h1>New User</h1>

<form action="/users" method="POST">
    <input type="text" name="firstName" placeholder="First Name">
    <input type="text" name="lastName" placeholder="Last Name">
    <input type="text" name="userName" placeholder="Username">
    <input type="text" name="email" placeholder="email"> {{!-- <input type="text" name="gif" placeholder="gif"> --}}
    <input type="submit" value="Create">
</form>